@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.inter-300 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.inter-500 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.inter-700 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

:root {
  --Dark-Blue: hsl(240, 38%, 20%);
  --Grayish-Blue: hsl(240, 18%, 77%);
}

body {
  min-height: 100svh;
  min-height: 100vh;
  display: grid;
  font-size: 32px;
  /* place-content: center; */
  background: url("../images/pattern-curve.svg") left -3rem bottom -1.5rem /
    contain no-repeat;
}

main {
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.border {
  /* border: 1px solid red; */
  border-radius: 1rem;
  /* margin: auto; */
}

.profile {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* border: 1px solid red; */
  border-radius: 0.5rem;
  /* margin: auto; */
}
.image-container {
  flex: 1;
  display: flex;
  background: url("../images/pattern-bg.svg") no-repeat center / contain;
}

.arrow-parent-container {
  position: relative;
  width: 100%;
  height: fit-content;
  /* Mobile */
  /* margin-inline: 2.5rem; */
  /* margin-block: 3rem 2.4rem; */
  /* Desktop */
  margin-inline: 5.5rem 7rem;
  margin-block: 3.7rem 2.9rem;
}
.testimonial-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  gap: 1rem;
}
.slider-buttons {
  display: flex;
  /* font-size: 0.1rem; */
  position: absolute;
  bottom: -1rem;
  left: 50%;

  transform: translateX(-50%);

  border-radius: 3rem;
  background-color: white;
}
.slider-buttons > button {
  flex: 1;
  padding-inline: 1rem;
  padding-block: 0.7rem;
}
.slider-buttons > button > img {
  object-fit: contain;
  width: 0.6rem;
}
.slider-buttons > button:hover {
  cursor: pointer;
  /* height: fit-content; */
}

.quote {
  color: var(--Dark-Blue);
  background: url("../images/pattern-quotes.svg") no-repeat top center / 3.8rem;

  /* Mobile */
  /* padding-block-start: 1.5rem; */
  /* line-height: 1.37; */
  /* font-size: 1.12rem; */
  /* width: 29ch; */
  /* Desktop */
  padding-block-start: 1.5rem;
  line-height: 1.37;
  font-size: 2rem;

  /* word-break: break-all; */
  /* overflow-x: visible;
  white-space: nowrap; */
  z-index: 20;
  /* white-space: pre; */
  /* width: 30px; */
  /* width: 34ch; */
  width: 39rem;
}

.profile-info {
  flex: 1;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 0.95rem;
}

.title {
  font-size: 0.95rem;
  color: var(--Grayish-Blue);
}

@media (min-width: 35rem) {
  main {
    flex-direction: row-reverse;
    margin-inline: 10.5rem;
  }
  .testimonial-container {
    flex: 0;
    /* inline-size: 150px; */
    /* margin-inline-start: 19rem; */
    inline-size: 30rem;
    /* flex-wrap: nowrap; */

    text-align: left;
    align-items: flex-start;
  }
  .profile-info {
    flex-direction: row;
  }
}
