@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.inter-300 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.inter-500 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.inter-700 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

:root {
  --Dark-Blue: hsl(240, 38%, 20%);
  --Grayish-Blue: hsl(240, 18%, 77%);
}

body {
  min-height: 100svh;
  min-height: 100vh;
  display: grid;
  font-size: 32px;
  background: url("../images/pattern-curve.svg") left -3rem bottom -1.5rem /
    contain no-repeat;
}

main {
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-inline: clamp(0rem, -3.6268rem + 15.4742vw, 10.3rem)
    clamp(0rem, -0.9507rem + 4.0563vw, 2.7rem);
  /* Desktop */
  /* margin-inline: 10.3rem 2.7rem; */
}

.profile {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 0.5rem;
  box-shadow: 0px 20px 20px 0px hsl(from var(--Dark-Blue) h s l / 0.5);
}
.image-container {
  flex: 1;
  display: flex;
  background: url("../images/pattern-bg.svg") no-repeat center / contain;
}

.arrow-parent-container {
  position: relative;
  width: 100%;
  height: fit-content;
  margin-inline: clamp(2.5rem, 1.4437rem + 4.507vw, 5.5rem)
    clamp(2.5rem, 0.9155rem + 6.7606vw, 7rem);
  margin-block: clamp(3rem, 2.7535rem + 1.0516vw, 3.7rem)
    clamp(2.4rem, 2.2239rem + 0.7512vw, 2.9rem);
  /* Mobile */
  /* margin-inline: 2.5rem; */
  /* margin-block: 3rem 2.4rem; */
  /* Desktop */
  /* margin-inline: 5.5rem 7rem; */
  /* margin-block: 3.7rem 2.9rem; */
}
.testimonial-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  gap: clamp(1rem, 0.6479rem + 1.5023vw, 2rem);
  /* Mobile */
  /* gap: 1rem; */
  /* Desktop */
  /* gap: 2rem; */
}
.slider-buttons {
  display: flex;
  position: absolute;
  bottom: clamp(-2rem, -0.6479rem + -1.5023vw, -1rem);
  /* Mobile */
  /* bottom: -1rem; */
  left: 50%;
  /* transform: translateX(-50%); */
  /* Desktop */

  /* bottom: -2rem; */
  transition: 2s ease;

  transform: translateX(-50%);

  border-radius: 3rem;
  background-color: white;
}
.slider-buttons > button {
  flex: 1;
  padding-inline: clamp(1rem, 0.8415rem + 0.6761vw, 1.45rem);
  padding-block: clamp(0.7rem, 0.4887rem + 0.9014vw, 1.3rem);
  /* Mobile */
  /* padding-inline: 1rem; */
  /* padding-block: 0.7rem; */
  /* Desktop */
  /* padding-inline: 1.45rem; */
  /* padding-block: 1.3rem; */
}
.slider-buttons > button > img {
  object-fit: contain;
  width: 0.6rem;
}
.slider-buttons > button:hover {
  cursor: pointer;
}

.quote {
  color: var(--Dark-Blue);
  background: url("../images/pattern-quotes.svg") no-repeat top center / 3.8rem;
  padding-block-start: clamp(1.5rem, 0.6197rem + 3.7559vw, 4rem);
  font-size: clamp(1.12rem, 0.8101rem + 1.3221vw, 2rem);
  /* Mobile */
  /* padding-block-start: 1.5rem; */
  /* line-height: 1.37; */
  /* font-size: 1.12rem; */
  width: 29ch;
  /* Desktop */
  /* padding-block-start: 4rem; */
  line-height: 1.37;
  /* font-size: 2rem; */

  z-index: 20;
}

.profile-info {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: clamp(0rem, -0.1761rem + 0.7512vw, 0.5rem);
  /* Desktop */
  /* gap: 0.5rem; */
}

.name {
  font-size: clamp(0.95rem, 0.8268rem + 0.5258vw, 1.3rem);
  /* Mobile */
  /* font-size: 0.95rem; */
  /* Desktop */
  /* font-size: 1.3rem; */
}

.title {
  font-size: clamp(0.95rem, 0.8444rem + 0.4507vw, 1.25rem);
  /* MObile */
  /* font-size: 0.95rem; */
  /* Desktop */
  /* font-size: 1.25rem; */
  color: var(--Grayish-Blue);
}

@media (min-width: 35rem) {
  body {
    background: url("../images/pattern-curve.svg") left -13rem bottom -13rem /
      contain no-repeat;
  }
  main {
    flex-direction: row-reverse;
  }
  .testimonial-container {
    flex: 0;

    inline-size: 30rem;

    text-align: left;
    align-items: flex-start;
  }
  .profile-info {
    flex-direction: row;
  }
  .slider-buttons {
    left: 20%;
  }
  .quote {
    width: 39rem;
    background: url("../images/pattern-quotes.svg") no-repeat left 6rem top /
      7.5rem;
  }
}
